fastapi 
uvicorn 
gradio 
langchain-google-genai 
langgraph 
pydantic
fpdf2
pandas
langchain-openai 
langchain-community 
duckduckgo-search 
httpx 
chromadb
python-multipart
sentence-transformers
pypdf
langchain-huggingface